@charset "UTF-8";
/* CSS Document */
body{
	background-color:#FFF;
	width:1920px;
	height:1080px;
	padding:0;
	margin:0;
	font-family: 'Oxygen', 'sans-serif';
	}
#Content{
	
	}
#Header{
	width:1020px;
	height:87px;
	margin:2%;
	margin-bottom:0%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_header.png);
	
	}
#LogoHeader{
	float:left;
	width:100px;
	height:50px;
	margin-left:1%;
	margin-top:1%;
	background-color:#393;
	}
#LoginHeader{
	float:right;
	width:100px;
	height:25px;
	margin-right:1%;
	margin-top:1%;
	}
#LogoutHeader{
	float:right;
	width:100px;
	height:25px;
	margin-top:1%;
	}	
#RegistrHeader{
	clear:both;
	float:right;
	width:100px;
	height:25px;
	
	}
#SucheHeader{
	float:left;
	width:1020px;
	height:40px;
	margin:1%;
	margin-left:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_suchleiste2.png);
	}
	
#Suche{
	width:200px;
	padding-top:1.5%;
	margin-left:30%;
	float:left;
	}
#SuchBut{
	float:left;
	width:64px;
	height:31px;
	margin-left:3%;
	margin-top:0.9%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_lupe.png);
	
	}
	
#SortBut{
	width:150px;
	height:40px;
	float:right;
	margin-right:10%;
	}
	
#SortBut1{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_liste.png);
	}
	
#SortBut2{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_kacheln.png);
	}
	
#SortBut3{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_detail.png);
	}
	
#ObereNavigation{
	width:250px;
	height:30px;
	margin-left:14%;
	background-color:#FFF;
	}
.ButtonNavigation{
	margin:2%;
	background-color:#393;
	}
#Button1{
	float:left;
	}
#Button2{
	float:left;
	}
#Button3{
	float:left;
	}
	
/*Hauptseite */

#LinkeNavigation{
	clear:both;
	float:left;
	width:260px;
	height:600px;
	background-color:#FFF;
	margin-left:2%;
	}
	
#LinkeNavKat {
	width:200px;
	height:500px;
	background-color:#F2E6C7;
	margin:10%;
	margin-top:0%;
	margin-left:0%;
	float:left;	
	}
	
#LinkeNavKat ul,li {
	list-style:none;
	
	}
#LinkeNavKat ul {

	}
#LinkeNavKat ul ul {
	display:none;
	}

/*#LinkeNavKat ul li:hover ul {
	display:block;
	padding:10%;
	}*/


.OberKat {
	margin:10%;
	margin-left:0%;
	background-color:#FFF;
	}

 
#AmbiencesAnzeige{
	float:left;
	width:721px;
	background-color:#FFF;
	margin-left:2%;
	
	}
	
.AnzeigeBut{
	clear:both;
	float:left;
	margin:1%;
	width:300px;
	height:40px;	
	}
#AButfwd{
	float:right;
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_rechts.png);
	}
	
#AButbkw{
	float:left;
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_links.png);
	
	}

.AmbiencePic{
	clear:both;
	float:left;
	width:300px;
	height:225px;
	float:left;	
	margin:1%;
	}
.AmbienceDescription{
	width:225px;
	height:225px;
	float:left;
	margin:1%
	}
	
.Ambiences{
	}
	
/*Registrierungsseite */
	
#Registrierung{
	float:left;
	width:1100px;
	background-color:#FFF;
	margin:2%;
	text-align:center;
	}

#Userbild{
	float:left;
	margin:2%;
	margin-left:5%;
	width:250px;
	height:250px;
	background-color:#393;
	
	}
#Registrierungsformular{
	float:left;
	text-align:left;
	width:250px;
	margin:2%;
	background-color:#FF0;
	font-size:24px;
	}
	
/*Detailansicht */
#SucheDetail{
	width:200px;
	padding-top:1.5%;
	margin-left:2%;
	float:left;
	}
	
#AmbienceBildBut{
	clear:both;
	width:350px;
	height:30px;
	float:left;
	margin-left:10%;
	margin-top:1%;
	}
#BkwButton{

	float:left;
	width:60px;
	
	}
#FwdButton{

	float:right;
	width:60px;
	}
#AmbienceBildGroß{

	clear:both;
	width:350px;
	height:300px;
	float:left;
	margin-left:10%;
	
	}
#AmbienceDescript{

	width:350px;
	height:300px;
	float:left;
	margin-left:2%;
	
	}
#AmbiencePlayer{

	clear:both;
	width:250px;
	height:50px;
	float:left;
	margin-left:10%;
	
	}

.audiojs{
   width: 500px;
}

#BkwdtoHauptseitebtn{
	clear:both;
	width:250px;
	height:25px;
	float:left;
	margin-left:2%;
	margin-top:1.5%;
	}


