@charset "UTF-8";
/* CSS Document */
body{
	background-color:#FFF;
	width:1920px;
	height:1080px;
	padding:0;
	margin:0;
	font-family: 'Oxygen', 'sans-serif';
	}
#Content{
    position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 1020px;
	}
#Header{
	width:1020px;
	height:87px;
	margin-bottom:0%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_header.png);
	
	}
#LogoHeader{
	float:left;
	width:100px;
	height:50px;
	margin-left:1%;
	margin-top:1%;
	background-color:#393;
	}
#LoginHeader{
	float:right;
	width:100px;
	height:25px;
	margin-right:1%;
	margin-top:1%;
	}
#LoginHeader:hover{
	cursor:pointer;
	}
#LoginMenu{
    display: none;
    padding: 3px;
    width: 200px;
    background-color: #393;
    position:absolute;
    top: 30px;
    right: 0px;
}

.loginText{
    margin-left: 10px;
    width: 130px;
}

.loginButton{
    width: 95px;
}

#UserMenu{
    display: none;
    padding: 3px;
    width: 100px;
    background-color: #393;
    position:absolute;
    top: 30px;
    right: 10px;
}

#LogoutHeader{
	float:right;
	width:100px;
	height:25px;
	margin-top:1%;
	}	
#RegistrHeader{
	clear:both;
	float:right;
	width:100px;
	height:25px;
	
	}
#SucheHeader{
	float:left;
	width:1020px;
	height:40px;
	margin:1%;
	margin-left:0%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_suchleiste2.png);
	}
	
#Suche{
	width:200px;
	padding-top:1.2%;
	margin-left:30%;
	float:left;
	}
#SuchBut{
	float:left;
	width:64px;
	height:31px;
	margin-left:3%;
	margin-top:0.9%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_lupe.png);
	
	}
	
#SortBut{
	width:150px;
	height:40px;
	float:right;
	margin-right:10%;
	}
#SortBut:hover{
	cursor:pointer;
	
	}
	
#SortBut1{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_liste.png);
	}
	
#SortBut2{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_kacheln.png);
	}
	
#SortBut3{
	width:40px;
	height:40px;
	float:left;
	margin:2%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_detail.png);
	}
	
#ObereNavigation{
	width:800px;
	height:30px;
	margin-left:14%;
	background-color:#A67329;
	}
.ButtonNavigationNU{
	font-color:#fff;
	float:left;
	margin-left:2%;
	}
.ButtonNavigationU{
	font-color:#fff;
	float:right;
	margin-right:2%;
	}
	
/*Hauptseite */

#LinkeNavigation{
	clear:both;
	float:left;
	width:20%;
	height:600px;
	background-color:#FFF;
	margin-left:0%;
	}
	
#LinkeNavKat {
	width:200px;
	height:700px;
	background-color:#F2E6C7;
	margin:10%;
	margin-top:0%;
	margin-left:0%;
	float:left;
	}
	
#LinkeNavKat ul,li {
	list-style:none;
	
	}

#LinkeNavKat ul ul {
	}

#LinkeNavKat ul ul li:hover {
	cursor:pointer;
	cursor:hand; /* IE 5 */
	}

#LinkeNavKat ul ul li {
	border-spacing:1px;
	
	}

.CursorAen:hover{
	cursor:s-resize;
	
	
	}

.OberKat {
	margin:10%;
	margin-left:0%;
	background-color:#FFF;
	}

 
#AmbiencesAnzeige{
	float:left;
	width:80%;
	background-color:#FFF;
	margin-left:0%;
	
	}

.NavField{
    width:100%;
    clear:both;
    float:left;
}

.AnzeigeBut{
	margin-left: auto;
    margin-right: auto;
	width:300px;
	height:40px;
	}
#AButfwd{
	float:right;
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_rechts.png);
	}
	
#AButbkw{
	float:left;
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_links.png);
	
	}

.Ambience{
    width: 360px;
    height: 187px;
    margin: 5px;
    float:left;
}

.AmbiencePic{
	float:left;
	width:240px;
	height:180px;
	float:left;	
	margin:1%;
	}
.AmbienceDescription{
	width:100px;
	height:225px;
	float:left;
	margin:1%
	}

.AmbienceDescription h1{
    font-size: 12pt;
}

.AmbienceDescription ul{
    padding:0px;
}
	
.Ambiences{
    width: 100%;
	}
	
/*Registrierungsseite */
	
#Registrierung{
	float:left;
	width:1100px;
	background-color:#FFF;
	margin:2%;
	text-align:center;
	}

#Userbild{
	float:left;
	margin:2%;
	margin-left:5%;
	width:250px;
	height:250px;
	background-color:#393;
	
	}
#Registrierungsformular{
	float:left;
	text-align:left;
	width:250px;
	margin:2%;
	background-color:#FF0;
	font-size:24px;
	}
	
/*Detailansicht */
#SucheDetail{
	width:200px;
	padding-top:1.5%;
	margin-left:2%;
	float:left;
	}
	
#AmbienceBildBut{
	clear:both;
	width:350px;
	height:30px;
	float:left;
	margin-left:10%;
	margin-top:1%;
	}
#BkwButton{

	float:left;
	width:60px;
	
	}
#FwdButton{

	float:right;
	width:60px;
	}
#AmbienceBildGroß{

	clear:both;
	width:350px;
	height:300px;
	float:left;
	margin-left:10%;
	
	}
#AmbienceDescript{

	width:350px;
	height:300px;
	float:left;
	margin-left:2%;
	
	}
	
#AmbienceDescript table tr td{
	padding:1%;
	
	}
#AmbiencePlayer{

	clear:both;
	width:250px;
	height:50px;
	float:left;
	margin-left:10%;
	
	}

#BkwdtoHauptseitebtn{
	clear:both;
	width:250px;
	height:25px;
	float:left;
	margin-left:2%;
	margin-top:1.5%;
	}
#downloadarea{
	clear:both;
	float:left;
	margin-top:5%;
	margin-left:10%;
	width:500px;
	}
#fileinfos table tr td{
	padding-left:4%;
	
	}
#DownloadButton{
	float:left;
	width:170px;
	height:41px;
	background-image:url(../media/Design_Vorlagen/Detailansicht/04_detailansicht_download.png);
	}
#fileinfos{
	float:left;
	margin-left:2%;
	
	}
#Useranzeige{
	float:right;
	}
	
/*Userseite */

#Benutzerprofil{
	margin-top:2%;
	clear:both;
	float:left;
	width:1020px;
	}
#Benutzerbild{
	float:left;
	width:220px;
	height:220px;
	
	}
#Benutzerdetails{
	margin-left:1%;
	width:400px;
	height:220px;
	float:left;
	}
#Uploadanzeige{
	clear:both;
	float:left;
	width:1020px;
	margin-top:5%;
	}
#UploadALinks{
	float:left;
	width:300px;
	height:600px;
	}
#GoogleMaps{
	float:left;
	width:300px;
	height:200px;
	}

#map-canvas{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#Uploaddetails{
	float:left;
	width:300px;
	height:400px;
	background-color:#f3e5c8;
	}
#UploadARechts{
	float:left;
	width:500px;
	height:600px;
	}
#AmbiencesUserAnzeige{
	width:400px;
	height:500px;
	float:left;
	margin:2%;
	}
#NavigationUploads{
	float:left;
	width:200px;
	height:60px;
	margin:2%;
	}
/*Upload */	

#Upload{
	margin-top:5%;
	clear:both;
	float:left;
	width:1020px;
}
#Dateiupload{
	clear:both;
	float:left;
	
	}
#Upload a {
	clear:both;
	float:left;
	
	}


/*Upload Detail */
	
#UploadBild{
	float:left;
	width:400px;
	height:400px;
	background-color:#3C3;
	
	}
#UploadDaten{
	float:left;
	margin-left:2%;
	width:500px;
	}
#UploadDaten table tr td{
	padding-left:10%;
	padding-bottom:10%;
	} 
#UploadButton{
	float:right;	
	margin:10%;
	margin-top:200px;
	}
	


