@charset "UTF-8";
/* CSS Document */
body{
	background:-moz-linear-gradient(top, #fff 0%, #FFFBE0 50%, #FFFBE0  51%, #FFF 100%); 
	background:-webkit-linear-gradient(top, #fff 0%, #FFFBE0 50%, #FFFBE0 51%, #FFF 100%);
	background:-o-linear-gradient(top, #fff 0%, #FFFBE0  50%, #FFFBE0  51%, #FFF 100%); 
	background:-ms-linear-gradient(top, #fff 0%, #FFFBE0  50%, #FFFBE0  51%, #FFF 100%); 
	background:linear-gradient(top, #fff 0%, #FFFBE0  50%, #FFFBE0  51%, #FFF 100%);
	width:100%;
	height:1080px;
	padding:0;
	margin:0;
	font-family: 'Oxygen', 'sans-serif';
	}
#Content{
    position: relative;
	margin-left: auto;
    margin-right: auto;
    width: 1020px;
	}
#Header{
	width:1020px;
	height:87px;
	margin-bottom:0%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_header.png);
	
	}
#LogoHeader{
	width:100px;
	height:50px;
	margin:1%;
	padding:0%;
	background-color:#393;
	}
#LoginHeader{
	margin:1%;
	padding:0%;
	width:100px;
	height:25px;
	
	}
#LoginHeader:hover{
	cursor:pointer;
	}

#LoginHeader:hover noscript #LoginMenu{
    display:block;
}

#LoginHeader:hover noscript #UserMenu{
    display:block;
}

#LoginMenu{
	z-index:3;
    display: none;
    padding: 1%;
    width: 250px;
   	background:#F2E6C7;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
    position:absolute;
    top: 30px;
    right: 0px;
}
#LoginButton{
	/*margin-top:3%;
	float:left;
	*/
	width:100px;
	height:30px;
	padding:0%;
	}
#LoginButton input{
	text-indent:-99999px;
	width:100px;
	height:30px;
	border:none;
	background:none;
	background-image:url(../media/Design_Vorlagen/Hauptseite/01b_header_login.png);
	background-repeat:no-repeat;
	}
#RegButton{
	/*margin-top:3%;
	float:left;*/
	width:120px;
	height:30px;
	padding:0%;
	}
#RegButton button{
	width:120px;
	height:30px;
	border:none;
	background:none;
	background-image:url(../media/Design_Vorlagen/Hauptseite/01b_header_registrieren.png);
	background-repeat:no-repeat;
	}

.loginText{
    /*margin-left: 10px;*/
    width: 130px;
}

.loginButton{
    width: 95px;
}

#UserMenu{
	z-index:3;
    display: none;
    padding:1%;
    width: 120px;
	height:80px;
   	background:#F2E6C7;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
    position:absolute;
    top: 40px;
    right: 10px;
}

#ProfilButton{
	padding:0%;
	margin:2%;
	width:90px;
	height:22px;
	
	}
#ProfilButton a{
	padding:0%;
	margin:2%;
	width:90px;
	height:22px;
	}
#LogoutHeader{
	padding:0%;
	margin:2%;
	width:90px;
	height:22px;
	}
#LogoutHeader input{
	width:90px;
	height:22px;
	text-indent:-99999px;
	border:none;
	background:none;
	background-image:url(../media/Design_Vorlagen/Hauptseite/05_header_logout.png);
	background-repeat:no-repeat;
	}
#SucheHeader{
	margin-top:1%;
	margin-bottom:1%;
	width:1020px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_suchleiste2.png);
	}
	
#Suche{
	padding-top:1%;
	width:200px;
	}
#Suche input{
	height:30px;
	}
	
#SortBut{
	width:150px;
	height:40px;
	
	}
#SortBut:hover{
	cursor:pointer;
	
	}
	
#SortBut1{
	width:40px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_liste.png);
	}
	
#SortBut2{
	width:40px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_kacheln.png);
	}
	
#SortBut3{
	width:40px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_ansicht_detail.png);
	}
	
#ObereNavigation{
	width:800px;
	height:30px;
	}
#ObereNavigation a{
	color:#fff;
	}
#ObereNavigation a:hover{
	color:#393;
	}
#AmbBut{
	width:120px;
	height:31px;
	padding:1%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/header_buttons_ambiences.png);
	background-repeat:no-repeat;
	}
#ButTopF{
	width:120px;
	height:31px;
	padding:1%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/header_buttons_topfiles.png);
	background-repeat:no-repeat;
	}
#ButFaq{
	width:120px;
	height:31px;
	padding:1%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/header_buttons_faq.png);
	background-repeat:no-repeat;
	z-index:1;
	}
#ButKont{
	width:120px;
	height:31px;
	padding:1%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/header_buttons_kontakt.png);
	background-repeat:no-repeat;
	
	}
#ButUpl{
	width:217px;
	height:31px;
	padding:1%;
	background-image:url(../media/Design_Vorlagen/Hauptseite/header_buttons_upload.png);
	background-repeat:no-repeat;
	z-index:1;
	}
	
/*Hauptseite */
#Hauptseite{
	padding:0%;
	}
#LinkeNavigation{
	padding:0%;
    clear: both;
	}
	
#LinkeNavKat {
	background-color:#EBDAB6;
	}
#LinkeNavKat h5{
	color:#603;
	
	}
#LinkeNavKat h5:hover{
	color:#E7D5AE;
	}
	
#LinkeNavKat ul,li {
	list-style:none;
	
	}
#LinkeNavKat a{
	color:#060;
	}
#LinkeNavKat a:hover{
	color:#6BC53A;
	
	}


#LinkeNavKat ul ul li:hover {
	cursor:pointer;
	cursor:hand; /* IE 5 */
	}


.CursorAen:hover{
	cursor:s-resize;
	}

.OberKat {
	background-color:#FFF;
	}

 
#AmbiencesAnzeige{
	padding:0%;
	margin:0%;
	background-color:#FFF;
	}

.AnzeigeBut{
	width:300px;
	height:40px;
	}
#AButfwd{
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_rechts.png);
	}
	
#AButbkw{
	width:41px;
	height:40px;
	background-image:url(../media/Design_Vorlagen/Hauptseite/02c_entdecke_pfeil_links.png);
	
	}

.Ambience{
	padding:1%;
	width:410px;
}

.AmbiencePic{
	padding:1%;
	width:240px;
	height:180px;
	}
.AmbienceDescription{
	padding-left:1%;

	}

.AmbienceDescription h1{
    font-size: 12pt;
}
#Haupt{
	}
	

	
/*Detailansicht */

#BkwdtoHauptseitebtn{
	padding-top:5%;
	
	}

#AmbienceBildGroß{
	width:350px;
	height:300px;
	}
#AmbBildGr{
	padding-top:11%;
	
	}
#AmbienceDescript{
	}
#AmbienceDescript h1{
	font-size:22px;
	}	
#AmbienceDescript table tr td{
	font-size:14px;
	}

.rateBut {
}
.rateBut:hover{
	cursor:pointer;
	
	}

#AmbiencePlayer{
	padding-bottom:2%;
	}

#downloadarea{

	}

#DownloadButton{
	margin-bottom:2%;
	width:170px;
	height:41px;
	
	}
#DownloadButton input{
	width:170px;
	height:41px;
	border:none;
	background:none;
	background-repeat:no-repeat;
	background-image:url(../media/Design_Vorlagen/Detailansicht/04_detailansicht_download.png);
	text-indent:-99999px;
	}
#fileinfos{
	/*float:left;
	margin-left:2%;*/
	
	}
#Useranzeige{
	/*float:right;*/
	}
#UserBild{
	width:100px;
	height:80px;
	}
#changeAmbFrame{
	/*float:right;*/
	
	}
#BildChange{
	margin-bottom:2%;
	}
#AmbienceDel{
	/*float:right;
	margin:5%;*/
	width:171px;
	height:30px;
	background:url(../media/Design_Vorlagen/Detailansicht/04_ambienceloeschen.png);
	background-repeat:no-repeat;

	}

/*Userseite */

#Benutzerprofil{
	margin-top:2%;
	clear:both;
	float:left;
	width:1020px;
	}
#Benutzerprofil h1{
	text-align:center;
	background:-moz-linear-gradient(top, #fff, #C28956); 
	background:-webkit-linear-gradient(top, #fff, #C28956);
	background:-o-linear-gradient(top, #fff, #C28956); 
	background:-ms-linear-gradient(top, #fff, #C28956); 
	background:linear-gradient(top, #fff, #C289567); 
	width:220px;
	}
#Benutzerbild{
	float:left;
	width:220px;
	height:220px;
	
	}
#Benutzerdetails{
	margin-left:1%;
	width:600px;
	height:220px;
	float:left;
	}
.Datenname{
	width:50px;
	
	}
#Benutzerdetails table tr td{
	padding:2%;
	
	}
#pwChangeBut{
	margin:2%;
	margin-top:3.5%;
	
	}
#showEmail{
	margin:2%;
	}
#Uploadanzeige{
	clear:both;
	float:left;
	width:1020px;
	margin-top:5%;
	}
#UploadALinks{
	float:left;
	width:300px;
	}
#GoogleMaps{
	float:left;
	width:300px;
	height:200px;
	}

#map-canvas{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#Uploaddetails{
	float:left;
	width:300px;
	height:900px;
	background-color:#f3e5c8;
	}
#UploadARechts{
	float:left;
	height:600px;
	width:720px;
	}

#AmbiencesUserAnzeige{
	float:left;
	margin-left:2%;
	}
.AmbienceUser{
	width:500px;
	float:left;
	}
.UserAmPic{
	width:200px;
	height:200px;
	float:left;
	}
.AmbienceUserDescr{
	width:200px;
	height:225px;
	float:left;
	}
.AmbienceUserDescr h3 {
	margin-left:4%;
	}
.AmbienceUserDescr table tr td{
	padding-left:4%;
	}
.NavigationUploads{
	clear:both;
	float:left;
	width:100px;
	height:60px;
	margin-left:2%;
	}
#deleteUserBut{
	clear:both;
	float:left;
	margin-top:1%;
	margin-left:1%;
	width:160px;
	height:34px;
	background:url(../media/Design_Vorlagen/Userseite/05_benutzerloeschen.png);
	background-repeat:no-repeat;
	
	
	}
/*Upload */	

#Upload{
	margin-top:5%;
	clear:both;
	float:left;
	width:1020px;
}
#Dateiupload{
	clear:both;
	float:left;
	width:1020px;
	}
#Upload a {
	clear:both;
	float:left;
	
	}
#userfile{
	float:left;
	margin:2%;
	width:100px;
	height:100px;
	background:url(../media/Design_Vorlagen/Upload/06_music_button.png);
	overflow:hidden;	
	}
	
#userfile input{
	display: block;
    width: 100px;
    height: 100px;
    opacity: 0;
    overflow: hidden;
	
	}
#userfile input:hover{
	cursor:pointer;
	}
#filetext{
	float:left;
	text-decoration:underline;
	}
	
#weiterbutton{
	clear:both;
	float:left;
	margin:2%;
	margin-top:5%;
	width:100px;
	height:100px;
	background:url(../media/Design_Vorlagen/Upload/06_forward_button.png);
	overflow:hidden;
	
	}
#weiterbutton:hover{
	cursor:pointer;
	}
#weiterbutton input{
	display: block;
    width: 100px;
    height: 100px;
    opacity: 0;
    overflow: hidden;
	
	}
#ErrorFile{
	position:absolute;
	float:left;
	height:20px;
	width:150px;
	text-align:center;
	color:#F00;
	}
#WeiterText{
	margin-top:6%;
	float:left;
	text-decoration:underline;
	
	}

/*Upload Detail */
	
#UploadBild{
	margin-left:5%;
	float:left;
	width:400px;
	height:100px;
	
	}
#UploadBild h2{
	text-decoration:underline;
	}
#BiUpTe{
	padding-left:3%;
	
	}
#UploadDaten{
	clear:both;
	float:left;
	margin:2%;
	margin-top:5%;
	width:500px;
	background-color:#f3e5c8;
	}
#UploadDaten table{
	margin:3%;
	}
#UploadDaten table tr td{
	padding:5%;
	} 
#UploadButton{
	clear:both;
	float:left;	
	margin-left:2%;
	width:339px;
	height:100px;
	background:url(../media/Design_Vorlagen/Upload/06_fertig_button.png);
	background-repeat:no-repeat;
	}
#UploadButton:hover{
	cursor:pointer;
	
	}
#UploadButton input{
	display: block;
    width: 339px;
    height: 100px;
    opacity: 0;
    overflow: hidden;
	
	}
#AmbPicUpl{
	clear:both;
	float:left;
	width:102px;
	height:100px;
	background:url(../media/Design_Vorlagen/Upload/06_foto_button.png);
	background-repeat:no-repeat;
	}
#AmbPicUpl:hover{
	cursor:pointer;
	
	}
#AmbPicUpl input{
	display: block;
    width: 102px;
    height: 100px;
    opacity: 0;
    overflow: hidden;
	}

	


