@charset "UTF-8";
/* CSS Document */

/*#registrierung h1 {
	text-align:center;
	padding-top:3%;
    margin-top:0%;
}*/

#registrierung {
	padding-left:3%;
	padding-right:3%;
	font-family: 'Oxygen', 'sans-serif';
	width:310px;
	height:523px;
    overflow: hidden;
	background-image:url(../media/Design_Vorlagen/Registrierung/03_registrierung_hintergrund.png);
	}

#regbut{
	padding:0%;
	width:129px;
	height:31px;
	
	}
#regbut input{
	/*padding-left:4%;*/
	width:129px;
	height:31px;
	background:none;
	background-image:url(../media/Design_Vorlagen/Registrierung/03_registrierung_button_bestaetigen.png);
	background-repeat:no-repeat;
	border:none;
	text-indent:-99999px;	
	}
#abbut{
	padding:0%;
	width:129px;
	height:31px;
	background-repeat:no-repeat;
	}
#abbut:hover{
	cursor:pointer;
	}
.two{
	margin-top:2%;
	}
#Eingabe{
	margin:2%;
	
	}