@charset "UTF-8";
/* CSS Document */

body{
	background-color:#FFF;
	width:1920px;
	height:1080px;
	padding:0;
	margin:0;
	font-family: 'Oxygen', 'sans-serif';
	}
#Content{
	margin-left:5%;
	margin-right:auto;
	}
	
.AmbienceFoto{
	width:300px; 
	height:225px;
	}

	
img.desaturate{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	box-shadow: 0px 0px 30px 10px #000;
	}

img.grey:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: none;
	box-shadow: 0px 0px 30px 10px #063506;
	}
	
	
#LoginBox{
	width:350px;
	height:275px;
	/*background-color:#03C;*/
	margin:1.5%;
	float:left;
	background-image:url(media/Design_Vorlagen/Startseite/Login_box_raw.png);
	}
#LoginTop{
	position::relative;
	width:350px;
	height:133px;
	text-align:center;
	}
#LoginBottom{
	width:350px;
	height:133px;
	text-align:center;
	}

#TopLeft{
	width:300px;
	height:225px;
	margin:3%;
	clear:both;
	float:left;
	}
	
#TopCenter{
	float:left;
	margin:3%;
	}
	
#TopRight{
	margin:3%;
	float:left;
	}
	
#MidLeft{
	margin:3%;
	clear:both;
	float:left;
	}
	
#MidRight{
	margin:3%;
	float:left;
	}
	
#BotLeft{
	margin:3%;
	clear:both;
	float:left;
	}
	
#BotCenter{
	margin:3%;
	float:left;
	}
	
#BotRight{
	margin:3%;
	float:left;
	}
#LoginBut{
	width:100px;
	height:50px;
	float:right;
	margin-top:5%;
	margin-right:8%;
	
	}
#Reg {
	float:left;
	width:150px;
	height:50px;
	margin-left:2%
	
	}

		
	