.idea/.name
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/AmbienceWebpage.iml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/sqldialects.xml
mysqlConnector/mysql-connector-java-5.1.29-bin.jar
mysqlConnector/mysql-connector-license.txt