@charset "UTF-8";
/* CSS Document */

body{
	background-color:#000;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	}
#Content{
	margin-left:10%;	
	}
	
.AmbienceFoto{
	width:300px; 
	height:225px;

	}
	
img.desaturate{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	}

img.grey:hover {
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;
	}
	
	
#LoginBox{
	width:350px;
	height:275px;
	background-color:#03C;
	margin:1%;
	float:left;
	}
#Login{
	margin-left:15%;
	width:225px;
	height:100px;
	background-color:#FFF;
	}
#Login h1{
	text-align:center;
	}
#Entdecken{
	margin-left:15%;
	margin-top:5%;
	padding-top:5%;
	width:225px;
	height:100px;
	text-align:center;
	background-color:#FFF;
	}

#TopLeft{
	margin:3%;
	float:left;
	}
	
#TopCenter{
	margin:3%;
	float:left;
	}
	
#TopRight{
	margin:3%;
	float:left;
	}
	
#MidLeft{
	margin:3%;
	float:left;
	}
	
#MidRight{
	margin:3%;
	float:left;
	}
	
#BotLeft{
	margin:3%;
	float:left;
	}
	
#BotCenter{
	margin:3%;
	float:left;
	}
	
#BotRight{
	margin:3%;
	float:left;
	}
	

		
	