@charset "UTF-8";
/* CSS Document */


#registrierung {
	font-family: 'Oxygen', 'sans-serif';
	width:310px;
	height:523px;
    overflow: hidden;
	background-image:url(../media/Design_Vorlagen/Registrierung/03_registrierung_hintergrund.png);
	}
.RegInput{
	margin-left:5%;
	}
	
#RegInput1 input{
	width:250px;
	height:40px;
	}
#RegInput2 input{
	width:250px;
	height:40px;
	}
#RegInput3 input{
	width:250px;
	height:40px;
	}
#RegInput4 input{
	width:250px;
	height:40px;
	}
#Eingabe input{
	width:250px;
	height:40px;
	margin-left:10%;
	margin-top:5%;
	}

#Eingabe noscript iframe html head body p{
    diaplay: none;
}

#regbut{
	margin-top:5%;
	padding:0%;
	width:129px;
	height:31px;
	
	}
#regbut input{
	width:129px;
	height:31px;
	background:none;
	background-image:url(../media/Design_Vorlagen/Registrierung/03_registrierung_button_bestaetigen.png);
	background-repeat:no-repeat;
	border:none;
	text-indent:-99999px;	
	}
#abbut{
	margin-top:5%;
	padding:0%;
	width:129px;
	height:31px;
	background-repeat:no-repeat;
	}
#abbut:hover{
	cursor:pointer;
	}
	
/*Success*/

#success{
	background-image:url(../media/Design_Vorlagen/Sonstige/formular_hintergrund.png);
	}
#success h1{
	background-image:url(../media/Design_Vorlagen/Sonstige/formular_ueberschrift.png);
	}
#Abschl{
	margin:2%;
	}